<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Dashboard</title>
     <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <style>
        
        .dash{
            /* border: 1px solid black; */
            box-shadow: 4px 4px 10px rgb(48, 48, 48);
            width: 950px;
            border-radius: 8px;
        }
        .up{
            background-color: rgb(100, 92, 92);
        }
        .upr{
            
            
            background: -webkit-linear-gradient(to right,rgb(80, 79, 79), #e8cbc0,);
            background: linear-gradient(to right, rgb(102, 101, 101),#e8cbc0);
            padding: 10px;
            padding-left: 30px;
            border-radius: 5px;
            
        }
        .btn{
            background-color: rgb(0, 0, 0);
            color: white;
            box-shadow: 0px 0px 10px white;
        }

    </style>
</head>




<body>
  
    <div class="container-fluid p-4" >
        <div class="dash">
            <div class="p-4 up d-flex">
                <div class="col-6">
                    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSukWeqKUkbRISVlR3nDuo2QLsMxs6Mro0U-g&usqp=CAU" alt="IMG" height="250px" class="col-12"></center>
                </div>
                <div class="upr col-6"> 
                                    <form>
                                        <div class="d-flex">
                    <div class="form-group">
                        <label for="">From State</label>
                        <input type="text" name="state1"  onchange="search(this)" class="form-control" id="state1" placeholder="Maharastra">
                    </div>
                    <div class="form-group ml-5">
                        <label for="">To State</label>
                        <input type="text" name="state2" onchange="search(this)" class="form-control" id="state2" placeholder="West Bengal">
                    </div>
                    </div>
                                        <div class="d-flex">
                    <div class="form-group">
                        <label for="">From City</label>
                        <input type="text" name="city1" onchange="search(this)" class="form-control" id="city1" placeholder="Mumbai">
                    </div>
                    <div class="form-group ml-5">
                        <label for="">To City</label>
                        <input type="text" name="city2"onchange="search(this)"  class="form-control" id="city2" placeholder="Kolkata">
                    </div>
                    </div>
                    
                   
                    <button type="submit" class="btn">Search</button>
                    </form>
                    </div>
            </div>
            
                
            </div>
        </div>
       <!-- For demo purpose -->
<p>

</p>

<div class="container">
  <div class="row text-center">

      <!-- Team item -->
      <%for(var i=0;i<drivers.length;i++){%>
      <div id="<%=i%>" class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://th.bing.com/th?q=Auto+Driver+Logo&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=strict&t=1&mw=247" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Driver name: <%=drivers[i].driver_name%> </h5><span class="small text-uppercase text-muted">Deatils</span>
              <h6>Age: <%=drivers[i].driver_age%></h6>
              <h6>Truck Number: <%=drivers[i].driver_number%></h6>
              <h6>Truck Capacity: <%=drivers[i].driver_truckcapacity%></h6>
              <h6>Transporter Name: <%=drivers[i].driver_transportername%></h6>
              <h6>Driving Experience: <%=drivers[i].driver_experience%></h6>
              <ul class="social mb-0 list-inline mt-3">
                
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-phone"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-envelope"></i></a></li>
              </ul>
          </div>
      </div>
      <%}%><!-- End -->

      <script>
          var drivers=[];
          var name;
          var age;
          var number;
        var trucknumber;
        var truckcapacity;
        var transportername;
        var email;
        var experience;
        var s1,s2,c1,c2;
          </script>
      <!-- <%=email%>
      <%=drivers%> -->
      <%for(var i=0;i<drivers.length;i++){%>
       <script> 
        name="<%=drivers[i].driver_name%>";
        age="<%=drivers[i].driver_age%>";
    
     number="<%=drivers[i].driver_number%>";
      trucknumber="<%=drivers[i].driver_trucknumber%>";
      truckcapacity="<%=drivers[i].driver_truckcapacity%>";
      transportername="<%=drivers[i].driver_transportername%>";
      email="<%=drivers[i].driver_email%>";
      experience="<%=drivers[i].driver_experience%>";

       drivers.push({  "name":name,
           "age":age,
           "number":number,
         "trucknumber":trucknumber,
         "truckcapacity":truckcapacity,
         "transportername":transportername,
         "email":email,
         "experience":experience});
       </script>

        <%}%>


       <script>

          
    function search(val) {
        
         s1=document.getElementById("state1").value;
         s2=document.getElementById("state2").value;
         c1=document.getElementById("city1").value;
         c2=document.getElementById("city2").value;

        if(s1=="" && s2=="" && c1=="" && c2==""){
            
            for(var i=0;i<drivers.length;i++){
                document.getElementById(i).style.display="block";
            }
        }
        else{
            for(var i=0;i<drivers.length;i++){
                document.getElementById(i).style.display="none";
            }
        }

        // console.log(drivers);
        // console.log(val.value);
        
    }
    
       
    </script>
<style>
   
  /*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, rgba(61, 51, 119, 0.158));
    background: linear-gradient(to right, #e8cbc0, rgba(66, 61, 122, 0.377));
    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(138, 180, 130);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: rgb(193, 204, 128);
    text-decoration: none;
    color: #555;
}
</style>
      
  </div>
</div>
    
</body>
</html>
