<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<title>Document</title>
</head>
<style>    
span{
	color:red;
  }
  .careerImg{
	background-image: linear-gradient(180deg,  #2C3539,#2C3539);
	width:100%;
  }
  .imgText{
	margin-left:10px;
  }
  .btn-primary{
	background-color:#2C3539;
  }
  .card{
background-image: url('img3.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}</style>
<body>
	<section class="forms-section">
		<h1 class="section-title">Login & Signup Forms</h1>
		<div class="forms">
		  <div class="form-wrapper is-active">
			  
			<button type="button" class="switcher switcher-login">
			  Login
			  <span class="underline"></span>
			</button>
	
			<form class="form form-login" action="/driver_login2" method = "post">
			  <fieldset>
				<legend>Please, enter your email and password for login.</legend>
				<div class="input-block">
				  
				  <input id="login-email" onchange="onChangeTest(this)" type="text" name="username" placeholder="username" required>
				
				<div class="input-block">
				  
				  <input id="login-password" type="text" name="password" placeholder="password" password required>
				</div>
			  </fieldset>
			  <h1 style="color:black;position:relative;left:97px;top:100px;font-size: 14px;">OR</h1>
			  <button type="submit" class="btn-login" >Login</button>
			  <button type="submit"   type="submit" id="btn"  class=" btn-login btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  value ='good'>Login using E-mail</button>
			  
			</form>
		  </div>
		  <div class="form-wrapper">
			<button type="button" class="switcher switcher-signup">
			  Sign Up
			  <span class="underline"></span>
			</button>
			<form class="form form-signup" action="/driver" method ='post'>
			  <fieldset>
				<legend>Please, enter your email, password and password confirmation for sign up.</legend>
				<div class="input-block">
	
				  <input id="signup-email" type="text" placeholder="Name" name="driver_name" required>
			   
				<div class="input-block">
					<input type="text"placeholder="Age" name = "driver_age" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
	
				
				<div class="input-block">
					<input type="number"placeholder="Mobile Number" name="driver_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
				<div class ="input-block">
					<input type="text" placeholder="Truck Number" name="driver_trucknumber" />
					<div class="input-block">
						<input type="text"placeholder="Truck Capacity" name="driver_truckcapacity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
						<input type="text" placeholder="Transporter Name" name="driver_transportername" />
	
						<input id="signup-password" type="email" placeholder="E-mail" name="driver_email" required>
				  <input id="signup-password" type="text" placeholder="Password" name="driver_password" required>
				  <input id="signup-password" type="text" placeholder="Driving Experience(months)" name="driver_experience" required>
			 

			  <label for="prefered area" style="font-size: 17px; margin-left: 10px;  ">Choose your prefered area</label>
			  <div style="display: flex;">

			<select name="state" onchange="onChangeTest2(this)" id="states" >
    <option value="">--Choose State 1--</option>
     <% for(var i=0; i<states.length; i++) {%>
  <option value=<%=i%>><%=states[i].state%></option>
  <%}%>
  
</select>
            <select id="city1" name="city"  id="city" >
    <option value="">--Choose City 1--</option>
    
  
  
</select></div>
			  <div style="display: flex;">

			<select name="state" onchange="onChangeTest3(this)" id="states" >
    <option value="">--Choose State 2--</option>
     <% for(var i=0; i<states.length; i++) {%>
  <option value=<%=i%>><%=states[i].state%></option>
  <%}%>
  
</select>
            <select id="city2" name="city"  id="city" >
    <option value="">--Choose City 2--</option>
    
  
  
</select></div>
			  <div style="display: flex;">

			<select name="state" onchange="onChangeTest4(this)" id="states" >
    <option value="">--Choose State 3--</option>
     <% for(var i=0; i<states.length; i++) {%>
  <option value=<%=i%>><%=states[i].state%></option>
  <%}%>
  
</select>
            <select id="city3" name="city"  id="city" >
    <option value="">--Choose City 3--</option>
    
  
  
</select></div>
          </fieldset>
			  <button type="submit" class="btn-signup">Sign Up</button>
			</form>
		
		  </div>
		</div>
	  </section>
	</fieldset>

	  
	      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="card modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter your E-mail Address</h5>
          <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="/driver_login3" method="post">
        <input type ='email' id="imal" name="email" class="form-control" placeholder="E-mail Address" required>

          <button type="button" id="close"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  
          <button   type="submit" id="btn2"  class=" btn-login btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="myFunction()"    > Submit</button>
  </form>
        </div>
      </div>
    </div>
  </div>
  
<script>
	function myFunction() {
		var em = document.getElementById('imal').value
		if(em==''){
			alert("Field Can't Be Empty");
		
		}
		else if(em!=''){
			window.location.href = "http://localhost:3000/otp";
		}
	

  // The function returns the product of p1 and p2
}
</script>


  <style>
      .btn{
          position: relative;
          top:10px;
      }
  </style>

	  
	  <script>
		  var email="";
		  function onChangeTest(changeVal) {
			email=changeVal.value;
			console.log(email);
		  }
		  function gotoOtp(){
			  var l="/otp/"+email;
			  window.location.href=l;
		  }
		   
	  </script>
	  <style>
		  *,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	
	body {
		margin: 0;
		font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
		background: #3b4465;
	}
	
	.forms-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.section-title {
		font-size: 32px;
		letter-spacing: 1px;
		color: #fff;
	}
	
	.forms {
		display: flex;
		align-items: flex-start;
		margin-top: 30px;
	}
	
	.form-wrapper {
		animation: hideLayer .3s ease-out forwards;
	}
	
	.form-wrapper.is-active {
		animation: showLayer .3s ease-in forwards;
	}
	
	@keyframes showLayer {
		50% {
			z-index: 1;
		}
		100% {
			z-index: 1;
		}
	}
	
	@keyframes hideLayer {
		0% {
			z-index: 1;
		}
		49.999% {
			z-index: 1;
		}
	}
	
	.switcher {
		position: relative;
		cursor: pointer;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding: 0;
		text-transform: uppercase;
		font-family: inherit;
		font-size: 16px;
		letter-spacing: .5px;
		color: #999;
		background-color: transparent;
		border: none;
		outline: none;
		transform: translateX(0);
		transition: all .3s ease-out;
	}
	
	.form-wrapper.is-active .switcher-login {
		color: #fff;
		transform: translateX(90px);
	}
	
	.form-wrapper.is-active .switcher-signup {
		color: #fff;
		transform: translateX(-90px);
	}
	
	.underline {
		position: absolute;
		bottom: -5px;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		width: 100%;
		height: 2px;
	}
	
	.underline::before {
		content: '';
		position: absolute;
		top: 0;
		left: inherit;
		display: block;
		width: inherit;
		height: inherit;
		background-color: currentColor;
		transition: transform .2s ease-out;
	}
	
	.switcher-login .underline::before {
		transform: translateX(101%);
	}
	
	.switcher-signup .underline::before {
		transform: translateX(-101%);
	}
	
	.form-wrapper.is-active .underline::before {
		transform: translateX(0);
	}
	
	.form {
		overflow: hidden;
		min-width: 260px;
		margin-top: 50px;
		padding: 30px 25px;
	  border-radius: 5px;
		transform-origin: top;
	}
	
	.form-login {
		animation: hideLogin .3s ease-out forwards;
	}
	
	.form-wrapper.is-active .form-login {
		animation: showLogin .3s ease-in forwards;
	}
	
	@keyframes showLogin {
		0% {
			background: #d7e7f1;
			transform: translate(40%, 10px);
		}
		50% {
			transform: translate(0, 0);
		}
		100% {
			background-color: #fff;
			transform: translate(35%, -20px);
		}
	}
	
	@keyframes hideLogin {
		0% {
			background-color: #fff;
			transform: translate(35%, -20px);
		}
		50% {
			transform: translate(0, 0);
		}
		100% {
			background: #d7e7f1;
			transform: translate(40%, 10px);
		}
	}
	
	.form-signup {
		animation: hideSignup .3s ease-out forwards;
	}
	
	.form-wrapper.is-active .form-signup {
		animation: showSignup .3s ease-in forwards;
	}
	
	@keyframes showSignup {
		0% {
			background: #d7e7f1;
			transform: translate(-40%, 10px) scaleY(.8);
		}
		50% {
			transform: translate(0, 0) scaleY(.8);
		}
		100% {
			background-color: #fff;
			transform: translate(-35%, -20px) scaleY(1);
		}
	}
	
	@keyframes hideSignup {
		0% {
			background-color: #fff;
			transform: translate(-35%, -20px) scaleY(1);
		}
		50% {
			transform: translate(0, 0) scaleY(.8);
		}
		100% {
			background: #d7e7f1;
			transform: translate(-40%, 10px) scaleY(.8);
		}
	}
	
	.form fieldset {
		position: relative;
		opacity: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: all .3s ease-out;
	}
	
	.form-login fieldset {
		transform: translateX(-50%);
	}
	
	.form-signup fieldset {
		transform: translateX(50%);
	}
	
	.form-wrapper.is-active fieldset {
		opacity: 1;
		transform: translateX(0);
		transition: opacity .4s ease-in, transform .35s ease-in;
	}
	
	.form legend {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
	}
	
	.input-block {
		margin-bottom: 50px;
	}
	
	.input-block label {
		font-size: 14px;
	  color: #a1b4b4;
	}
	
	.input-block input {
		display: block;
		width: 100%;
		margin-top: 8px;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 16px;
		line-height: 40px;
		color: #3b4465;
	  background: #eef9fe;
	  border: 1px solid #cddbef;
	  border-radius: 2px;
	}
	
	.form [type='submit'] {
		opacity: 0;
		display: block;
		min-width: 120px;
		margin: 30px auto 10px;
		font-size: 18px;
		line-height: 40px;
		border-radius: 25px;
		border: none;
		transition: all .3s ease-out;
	}
	
	.form-wrapper.is-active .form [type='submit'] {
		opacity: 1;
		transform: translateX(0);
		transition: all .4s ease-in;
	}
	
	.btn-login {
		color: #fbfdff;
		background: #a7e245;
		transform: translateX(-30%);
	}
	
	.btn-signup {
		color: #a7e245;
		background: #fbfdff;
		box-shadow: inset 0 0 0 2px #a7e245;
		transform: translateX(30%);
	}
	select{
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	margin: 2px;
	margin-top: 10px;
	padding: 2px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}
	
	  </style>

	  <script>
		  const switchers = [...document.querySelectorAll('.switcher')]
	
	switchers.forEach(item => {
		item.addEventListener('click', function() {
			switchers.forEach(item => item.parentElement.classList.remove('is-active'))
			this.parentElement.classList.add('is-active')
		})
	})
	
	  </script>
	  <style>
		  .btn{
			  margin:15px;
		  }
		  .modal-body{
			background: linear-gradient(to bottom, #69787d 0%, #e7dce2 100%);
		  }
		  .modal-header{
			background: antiquewhite;
		  }
	  </style>
</body>
</html>
